{# templates/emails/reminder.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Rappel de connexion</h1>
<p>Bonjour {{ user.email }},</p>
<p>vous ne vous etes pas connecte depuis le ...</p>
</body>
</html>