<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Changement d'adresse email</h1>

        <p>Bonjour,</p>
        <p>Votre adresse email a été modifiée avec succès sur votre compte Quizz.</p>
        <p>Votre nouvelle adresse email est : {{ email }}</p>
    </body>
</html>
